@import "../variables";

* {
  box-sizing: border-box;
}

.createFormPage, .createTablePage {
  h1, .saveButton {
    display: inline-block;
    vertical-align: middle;
  }

  .saveButton {
    margin-left: 10px;
  }

  .fenetreCreation {
    display: flex;
  }

  .fenetreCreation, .fenetreCode {
    border: solid 1px $colorBleuClair;
    color: #fff;
  }
  
  .fenetreCreation > div {
    width: calc(80% - 40px);
    margin: 20px;
  }
  
  .previsualisation, .boiteAOutils, .listeElements {
    border: solid 1px;
    display: inline-block;
    background-color: $colorHeaderFooter;
    vertical-align: top;
  }
  
  .previsualisation, .listeElements {
    padding: 20px;
  }

  .previsualisation, .boiteAOutils {
    width: 100%;
  }

  select {
    border: 1px solid black;
    padding: 5px 10px;
  }

  input {
    border: 1px solid;
    padding: 5px;
  }

  label {
    margin: 5px;
  }

  .import {
    display: inline-block;
    vertical-align: middle;

    input[type="file"] {
      display: none;
    }

    label {
      display: inline-block;
      cursor: pointer;
      background: $colorBleuClair;
      font-weight: bold;
      padding: 5px 10px;
      color: black;

      &:hover {
        color: white;
      }
    }
  }
}