@import "../variables";

.element {
    cursor: grab;
    display: inline-block;
    border: solid 2px;
    border-color: transparent;
    padding: 5px;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;

    * {
        pointer-events: none;
    }
      
    &.selected {
        border-color: $colorBleuClair;
    }

    &:hover {
        transform: scale(1.1);
    }
}



.element_wrapper.dragover-bottom {
    border-bottom: 2px solid $colorBleuClair;
}

.element_wrapper.dragover-top {
    border-top: 2px solid $colorBleuClair;
}