@import "../variables";

.fenetreCreation > div {
    width: 100%;
}

.previsualisation {
    width: 100%;
    table {
        width: auto;
        margin: auto;

        td.selected, th.selected {
            border: 2px solid $colorBleuClair;
            background-color: $colorBleuClair;
            pre {
                color: black;
            }
        }

        td.rowSelected, th.rowSelected {
            border-top: 2px solid $colorBleuClair;
            border-bottom: 2px solid $colorBleuClair;
            background-color: $colorSombre;
        }

        td.columnSelected, th.columnSelected {
            border-left: 2px solid $colorBleuClair;
            border-right: 2px solid $colorBleuClair;
            background-color: $colorSombre;
        }

        tr, th, td, pre {
            height: 100%;
            min-height: 51px;
            text-align: center;
        }
    
        thead, tfoot {
            background-color: #515151;
        }
    
        pre {
            outline: none;
            color: white;
            margin: 0;
            padding: 15px;
        }

        td, th {
            border: 2px inset white;
            border-collapse: collapse;
            width: 100px;
            padding: 0;
        }
    } 
    

}
