@import "../variables";

.tab {
    border:1px solid $colorBleuClair;
    padding:0.5em 1em;
    text-align:center;
    color:$colorSombre;
    font-size: 1em;
    font-weight: bold;
    background-color: $colorHeaderFooter;
    color:$colorClaire;
    &:hover{
        color:$colorBleuClair;
    }
    display: inline-block;

    &.tab-active {
        color: $colorSombre;
        background-color: $colorBleuClair;
    }
}