@import "../variables";

h1{
  color:$colorBleuClair;
  font-size:4em;
}

.paragraphePresentationAccueil{
  font-size:1.5em;
}

.divButton{
  height:10vh;
  display:flex;
  justify-content: space-around;
  margin-left: 20%;
  margin-right: 20%;
  .ghostButton{
    flex:1;
    &:not(:first-child){margin-left: 10px;}
  }
}

.divCompteAccueil{
  margin-top:10px;
  margin-left:20%;
  margin-right:20%;
  border:1px solid $colorBleuClair;
  text-align: center;
   .h2AccueilCompte{
    color:$colorClaire;}
   p{
    color:$colorClaire;}
  .ghostButton{
    margin:auto;
    width:30%;
    margin-bottom:10px;
  }
}

.flexImageMenu{
  display:flex;
  justify-content:space-around;
  margin-bottom:20px;
  align-items:center;
}

.textCoteImageMenu{
  font-size: calc(12px + 2vmin);
}

@media only screen and (max-width: 768px) {
  .flexImageMenu{
    flex-direction: column;
  }
}

a:hover{
  text-decoration: none;
}