@import "../variables";

table{
    color:$colorClaire;
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

 td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}
 tbody {
  border-top: 2px solid #eceeef;
}

tbody tr:nth-of-type(odd) {
    background-color:$colorHeaderFooter;
}


.iconeRed{
    color:red;
    cursor:pointer;
}

.iconeWhite{
    color:$colorClaire;
}

.modal{
    opacity:1;
}
@media (min-width: 768px){
    .main{
        height:100%;
    }
}

@media (max-width: 768px){
    thead {
        display: none;
    }
    tr{
        display: block;
        margin-bottom: 40px;
    }
    td {
        display: block;
        text-align: right;
    }
    td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }
    html{
        height:100%;
      }
      body{
        height: 100%;
      }
       body>div, body>div>div {
        height:100%;
      
    }

}