@import "variables";

.App {
  text-align: center;
}

a{
  text-decoration: none;
}

html{
  height:100%;
}

body{
  height: 100%;

  >div, >div>div {
    height:100%;
  }

  >div>div {
    display:flex;
    flex-direction: column;
  }
}

main{
  margin-top: $headerHeight;
  background-color: $colorSombre;
  color:$colorClaire;
  flex:1;
  padding: 25px;
}

button {
  border: none;
  background: $colorBleuClair;
  font-weight: bold;
  padding: 5px 10px;
  
  &:not(.tab) {
    margin: 5px;
  }

  &:hover {
    color: white;
  }

  &.delete {
    background-color: #fb4444;
  }
}