@import "Variables";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

a{
  text-decoration: none;
}
main{
    margin-top: $headerHeight;
}
.mainPage{
  background-color: $colorSombre;
  color:$colorClaire;
  flex:1;
}
html{
  height:100%;
}
body{
  height: 100%;
}
 body>div, body>div>div, {
  height:100%;

}

 body>div>div{
   display:flex;
   flex-direction: column;
 }

 .active{
 text-decoration: underline;
 color:$colorBleuClair;

 &:hover{
   color:$colorBleuClair;
 }
 }
