@import "Variables";

.bouton{
    border:1px solid $colorBleuClair;
    padding:0.5em 1em;
    text-align:center;
    color:$colorSombre;
    font-size: 1em;
    font-weight: bold;
    background-color: $colorBleuClair;
    &:hover{
      color:#fff;
    }
  }
  