@import "Variables";

* {
  box-sizing: border-box;
}

.onglet {
    border:1px solid $colorBleuClair;
    padding:0.5em 1em;
    text-align:center;
    color:$colorSombre;
    font-size: 1em;
    font-weight: bold;
    background-color: $colorBleuClair;
    &:hover{
      color:#fff;
    }
    display: inline-block;
}

.fenetreCreation, .fenetreCode {
    border: solid 1px $colorBleuClair;
    color: #fff;
    padding: 5px;
    display: flex;
}

.fenetreCreation > div {
  width: calc(80% - 40px);
  margin: 20px;
  // height: 540px;
}

.previsualisation, .boiteAOutils, .listeElements {
  border: solid 1px;
  display: inline-block;
  // margin: 20px;
  background-color: $colorHeaderFooter;
  vertical-align: top;
  padding: 10px;
}

.previsualisation, .boiteAOutils {
  width: 100%;
}

.previsualisation {
  margin-top: 20px;
  height: 500px;
  overflow-y: scroll;
}

.previsualisation {
  table, tr, td, th {
    border: 1px solid white;
    border-collapse: collapse;
  }
  td {
    padding: 5px;
  }
}

.boiteAOutils {
  height: 100px;
}

.listeElements {
  width: calc(20% - 20px);
  height: 620px;
  margin-right: 20px;;
}

.element {
  cursor: move;
  display: inline-block;
}

.element * {
  pointer-events: none;
}

.listeElements li {
  margin-bottom: 10px;
}

.element.selected {
  border: 2px solid blue;
}

.boiteAOutils > div {
  display: inline-block;
  margin-right: 20px;
}

