@import "Variables";

.onglet {
    border:1px solid $colorBleuClair;
    padding:0.5em 1em;
    text-align:center;
    color:$colorSombre;
    font-size: 1em;
    font-weight: bold;
    background-color: $colorBleuClair;
    &:hover{
      color:#fff;
    }
    display: inline-block;
}

.fenetreCreation, .fenetreCode {
    border: solid 1px $colorBleuClair;
    color: #fff;
    padding: 5px;
}

.previsualisation, .boiteAOutils, .listeElements {
  border: solid 1px;
  display: inline-block;
  margin: 20px;
  background-color: grey;
  vertical-align: top;
}

.previsualisation {
  width: calc(80% - 40px);
  height: 500px;
}

.boiteAOutils {
  width: calc(100% - 40px);
  height: 100px;
}

.listeElements {
  width: calc(19% - 40px);
  height: 500px;
}

.element {
  cursor: move;
}

.element * {
  pointer-events: none;
}

.listeElements li {
  margin: 10px;
}

.element.selected {
  border: 2px solid blue;
}