@import "Variables";


header {
  position:fixed;
  top: 0;
  height:$headerHeight;
  background-color: $colorHeaderFooter;
  font-size: calc(10px + 2vmin);
  color:$colorClaire;
  display:flex;
  width:100%;
  padding-bottom:5vh;
}
nav{
  width:100%;
}
ul{
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  width:100%;
  margin-top:20px;
}
li{
  & a:hover{
  color:$colorClaire;}

  & a{
  color:$colorClaire;
  }
}

.active{
text-decoration: underline;
}


#logo{
  width:$headerHeight ;
  height: $headerHeight;
}

.Navbar__Link-toggle {
  display: none;
}



@media only screen and (max-width: 768px) {
  .Navbar {
     flex-direction: column;
  }
  .Navbar ul{
    flex-direction:column;
    align-items:center;
  }
    
  .Navbar__Items {
    display:none;
  }
    

  .Navbar__ToggleShow {
    display: flex;
  }
    
  .Navbar__Link-toggle {
    align-self: center;
    display: initial;
    cursor: pointer;
   } 

   header{
     height:initial;
   }

   #logo{
     display:none;
   }
}