@mixin divFlexNoWrapSpace{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
}
$headerHeight : 80px;

$ligneComplete:100vw;

$colorSombre:#282c34;

$colorBleuClair: #00EDD1;

$colorClaire: #E7FDFA;//sorte de blanc
